# Experiment 3: Home Credit Default Risk

This notebook attempts to apply the lessons taught in Fast.ai Lesson 4 and 5 to another, similar dataset.

## Contents

1. Explore and visualise dataset.
2. Prepare dataset.
3. Build and train model.
4. Evaluation.
5. Ideas for improvements.

In [14]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

from pathlib import Path
import os

import pandas as pd

In [2]:
PATH = Path('./data/home-credit-default-risk')

In [4]:
PATH.mkdir(exist_ok=True)

## 1. Explore and visualise dataset

### Download and extract dataset

In [6]:
# Get dataset
!kaggle competitions download -c home-credit-default-risk --path={PATH}

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.3.8 / client 1.3.5)
sample_submission.csv.zip: Downloaded 117KB of 117KB
application_test.csv.zip: Downloaded 6MB of 6MB
application_train.csv.zip: Downloaded 34MB of 34MB
bureau.csv.zip: Downloaded 36MB of 36MB
bureau_balance.csv.zip: Downloaded 61MB of 61MB
previous_application.csv.zip: Downloaded 74MB of 74MB
credit_card_balance.csv.zip: Downloaded 94MB of 94MB
POS_CASH_balance.csv.zip: Downloaded 106MB of 106MB
installments_payments.csv.zip: Downloaded 267MB of 267MB
HomeCredit_columns_description.csv: Downloaded 37KB of 37KB

In [12]:
for file in os.listdir(PATH):
    if not file.endswith('zip'):
        continue
    
    file_path = PATH / file

    !unzip -q -d {PATH} {file_path}

In [13]:
!ls {PATH}

HomeCredit_columns_description.csv bureau_balance.csv.zip
POS_CASH_balance.csv               credit_card_balance.csv
POS_CASH_balance.csv.zip           credit_card_balance.csv.zip
application_test.csv               installments_payments.csv
application_test.csv.zip           installments_payments.csv.zip
application_train.csv              previous_application.csv
application_train.csv.zip          previous_application.csv.zip
bureau.csv                         sample_submission.csv
bureau.csv.zip                     sample_submission.csv.zip
bureau_balance.csv

### application_train

From Kaggle data page:

*"This is the main table, broken into two files for Train (with TARGET) and Test (without TARGET). Static data for all applications. One row represents one loan in our data sample."*

In [15]:
train_df = pd.read_csv(PATH / 'application_train.csv')

In [16]:
train_df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
len(train_df)

307511

Number of rows where `TARGET = 1`:

In [20]:
print("Num target = 1: ", len(train_df[train_df['TARGET'] == 1]))
print("Num target = 0: ", len(train_df[train_df['TARGET'] == 0]))

Num target = 1:  24825
Num target = 0:  282686

In [21]:
test_df = pd.read_csv(PATH / 'application_test.csv')

In [22]:
test_df.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

There's a file called `HomeCredit_columns_description.csv` that has a description of each column. Let's take a look at that.

In [29]:
column_desc = pd.read_csv(PATH / 'HomeCredit_columns_description.csv', encoding='latin_1')

In [30]:
column_desc.head()

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN

In [34]:
column_desc[column_desc['Table'] == 'application_{train|test}.csv']

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN
5,8,application_{train|test}.csv,FLAG_OWN_REALTY,Flag if client owns a house or flat,NaN
6,9,application_{train|test}.csv,CNT_CHILDREN,Number of children the client has,NaN
7,10,application_{train|test}.csv,AMT_INCOME_TOTAL,Income of the client,NaN
8,11,application_{train|test}.csv,AMT_CREDIT,Credit amount of the loan,NaN
9,12,application_{train|test}.csv,AMT_ANNUITY,Loan annuity,NaN
10,13,application_{train|test}.csv,AMT_GOODS_PRICE,For consumer loans it is the price of the good...,NaN
11,14,application_{train|test}.csv,NAME_TYPE_SUITE,Who was accompanying client when he was applyi...,NaN
12,15,application_{train|test}.csv,NAME_INCOME_TYPE,"Clients income type (businessman, working, mat...",NaN
13,16,application_{train|test}.csv,NAME_EDUCATION_TYPE,Level of highest education the client achieved,NaN
14,17,application_{train|test}.csv,NAME_FAMILY_STATUS,Family status of the client,NaN
15,18,application_{train|test}.csv,NAME_HOUSING_TYPE,What is the housing situation of the client (r...,NaN
16,19,application_{train|test}.csv,REGION_POPULATION_RELATIVE,Normalized population of region where client l...,normalized
17,20,application_{train|test}.csv,DAYS_BIRTH,Client's age in days at the time of application,time only relative to the application
18,21,application_{train|test}.csv,DAYS_EMPLOYED,How many days before the application the perso...,time only relative to the application
19,22,application_{train|test}.csv,DAYS_REGISTRATION,How many days before the application did clien...,time only relative to the application
20,23,application_{train|test}.csv,DAYS_ID_PUBLISH,How many days before the application did clien...,time only relative to the application
21,24,application_{train|test}.csv,OWN_CAR_AGE,Age of client's car,NaN
22,25,application_{train|test}.csv,FLAG_MOBIL,"Did client provide mobile phone (1=YES, 0=NO)",NaN
23,26,application_{train|test}.csv,FLAG_EMP_PHONE,"Did client provide work phone (1=YES, 0=NO)",NaN
24,27,application_{train|test}.csv,FLAG_WORK_PHONE,"Did client provide home phone (1=YES, 0=NO)",NaN
25,28,application_{train|test}.csv,FLAG_CONT_MOBILE,"Was mobile phone reachable (1=YES, 0=NO)",NaN
26,29,application_{train|test}.csv,FLAG_PHONE,"Did client provide home phone (1=YES, 0=NO)",NaN
27,30,application_{train|test}.csv,FLAG_EMAIL,"Did client provide email (1=YES, 0=NO)",NaN
28,31,application_{train|test}.csv,OCCUPATION_TYPE,What kind of occupation does the client have,NaN
29,32,application_{train|test}.csv,CNT_FAM_MEMBERS,How many family members does client have,NaN
...,...,...,...,...,...
92,95,application_{train|test}.csv,DEF_30_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN
93,96,application_{train|test}.csv,OBS_60_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN
94,97,application_{train|test}.csv,DEF_60_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN
95,98,application_{train|test}.csv,DAYS_LAST_PHONE_CHANGE,How many days before application did client ch...,NaN
96,99,application_{train|test}.csv,FLAG_DOCUMENT_2,Did client provide document 2,NaN
97,100,application_{train|test}.csv,FLAG_DOCUMENT_3,Did client provide document 3,NaN
98,101,application_{train|test}.csv,FLAG_DOCUMENT_4,Did client provide document 4,NaN
99,102,application_{train|test}.csv,FLAG_DOCUMENT_5,Did client provide document 5,NaN
100,103,application_{train|test}.csv,FLAG_DOCUMENT_6,Did client provide document 6,NaN
101,104,application_{train|test}.csv,FLAG_DOCUMENT_7,Did client provide document 7,NaN
102,105,application_{train|test}.csv,FLAG_DOCUMENT_8,Did client provide document 8,NaN
103,106,application_{train|test}.csv,FLAG_DOCUMENT_9,Did client provide document 9,NaN
104,107,application_{train|test}.csv,FLAG_DOCUMENT_10,Did client provide document 10,NaN
105,108,application_{train|test}.csv,FLAG_DOCUMENT_11,Did client provide document 11,NaN
106,109,application_{train|test}.csv,FLAG_DOCUMENT_12,Did client provide document 12,NaN
107,110,application_{train|test}.csv,FLAG_DOCUMENT_13,Did client provide document 13,NaN
108,111,application_{train|test}.csv,FLAG_DOCUMENT_14,Did client provide document 14,NaN
109,112,application_{train|test}.csv,FLAG_DOCUMENT_15,Did client provide document 15,NaN
110,113,application_{train|test}.csv,FLAG_DOCUMENT_16,Did client provide document 16,NaN
111,114,application_{train|test}.csv,FLAG_DOCUMENT_17,Did client provide document 17,NaN
112,115,application_{train|test}.csv,FLAG_DOCUMENT_18,Did client provide document 18,NaN
113,116,application_{train|test}.csv,FLAG_DOCUMENT_19,Did client provide document 19,NaN
114,117,application_{train|test}.csv,FLAG_DOCUMENT_20,Did client provide document 20,NaN
115,118,application_{train|test}.csv,FLAG_DOCUMENT_21,Did client provide document 21,NaN
116,119,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_HOUR,Number of enquiries to Credit Bureau about the...,NaN
117,120,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_DAY,Number of enquiries to Credit Bureau about the...,NaN
118,121,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_WEEK,Number of enquiries to Credit Bureau about the...,NaN
119,122,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_MON,Number of enquiries to Credit Bureau about the...,NaN
120,123,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_QRT,Number of enquiries to Credit Bureau about the...,NaN
121,124,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_YEAR,Number of enquiries to Credit Bureau about the...,NaN

In [37]:
column_desc[column_desc['Table'] == 'application_{train|test}.csv'].iloc[1]['Description']

'Target variable (1 - client with payment difficulties: he/she had late payment more than X days on at least one of the first Y installments of the loan in our sample, 0 - all other cases)'

#### Distribution of income

Extract out values and display distribution using Seaborn.

In [38]:
train_df.hist(column='AMT_INCOME_TOTAL'_

SyntaxError: invalid syntax (<ipython-input-38-ee46be830dfe>, line 1)